:root {
  --bg-size: 160px;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* this ::before is for the moving background effect */
#root::before {
  content: "";
  position: absolute;
  left: calc(var(--bg-size) * -1);
  top: 0;
  width: calc(100% + var(--bg-size));
  height: calc(100% + var(--bg-size));

  background:
    linear-gradient(#fffd, #fffd),
    url(/src/assets/demo_repeat_bg.png) 0 / var(--bg-size);

  animation: bg-moving 30s linear infinite;
}

@keyframes bg-moving {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--bg-size), calc(var(--bg-size) * -1));
  }
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: white;
  max-width: 1000px;
  box-shadow: 0px 0px 8px lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui-container {
  height: 600px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
  /* background: linear-gradient(white, blue) */
    background-color: #e2eef755;
}

.canvas-container {
  width: 600px;
  height: 600px;
  position: relative;
}

.canvas-hud-container {
  position: absolute;
  z-index: 9;

  &.top {
    top: 8px;
  }
  &.left {
    left: 8px;
  }
  &.right {
    right: 8px;
  }
  &.bottom {
    bottom: 8px;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.no-margin-bot {
  margin-bottom: 0;
}

.small-text {
  font-size: 0.8rem;
}

.grey-text {
  color: grey;
}

.image {
  border-radius: 4px;
}

.divider span {
  font-weight: bold;
}

.desc-container {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 64px;
  margin-bottom: 64px;

  & .image {
    max-height: 240px;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 4px;
}

.copyright {
  margin-top: 8px;
}

.miit-container {
  margin-top: 8px;
  color: darkgrey;
}

a.miit-link {
  text-decoration: unset;
  color: lightgray;
}

header {
  width: 100%;
  /* height: 64px; */
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 80px;
  /* display: flex; */
  /* align-items: center; */
}
