#root {
  position: relative;
  min-height: 100vh;
  background-color: #fff;

  box-shadow: 0px 0px 8px lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;

  /* background-color: pink; */
}

.ui-container {
  height: 600px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 16px;
  background-color: #effbff;
}

.canvas-container {
  width: 600px;
  height: 600px;
  position: relative;
}

.canvas-hud-container {
  position: absolute;
  z-index: 9;

  &.top {
    top: 8px;
  }
  &.left {
    left: 8px;
  }
  &.right {
    right: 8px;
  }
  &.bottom {
    bottom: 8px;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.no-margin-bot {
  margin-bottom: 0;
}

.small-text {
  font-size: 0.8rem;
}

.grey-text {
  color: grey;
}

.divider span {
  font-weight: bold;
}

.image {
  border-radius: 4px;
}

.desc-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 64px;

  & .image {
    max-height: 240px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 64px;
  /* background-color: darkgrey; */
}

.miit-container {
  margin-top: 8px;
  color: darkgrey;
}

a.miit-link {
  text-decoration: unset;
  color: lightgray;
}

header {
  /* height: 64px; */
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 40px;
  /* display: flex; */
  /* align-items: center; */
}
