:root {
  --bg-size: 128px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  background-size: var(--bg-size);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(/src/assets/demo_repeat_bg_trans.png);
  animation: moving-bg 10s linear infinite;
}

@keyframes moving-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--bg-size) calc(var(--bg-size) * -1);
  }
}
